<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="validation.constraint.constraints.startersAndSubstitutes"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.startersAndSubstitutes"
            class="constraints.startersandsubstitutes.StartersAndSubstitutesConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.teamMemberHasNoRoleInTeam"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.teamMemberHasNoRoleInTeam"
            class="constraints.teammemberhasnoroleinteam.TeamMemberHasNoRoleInTeamConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.notUniqueTeamNames"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.notUniqueTeamNames"
            class="constraints.notuniqueteamnames.NotUniqueTeamNamesConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.startingLineCombination"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.startingLineCombination"
            class="constraints.startinglinecombination.StartingLineCombinationConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.notUniqueId"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.notUniqueId"
            class="constraints.notuniqueid.NotUniqueIdConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.moreRedCards"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.moreRedCards"
            class="constraints.moreredcards.MoreRedCardsConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.moreYellowCards"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.moreYellowCards"
            class="constraints.moreyellowcards.MoreYellowCardsConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.notUniqueShirtNo"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.notUniqueShirtNo"
            class="constraints.notuniqueshirtno.NotUniqueShirtNoConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.teamMemberHasIllegalEvent"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.teamMemberHasIllegalEvent"
            class="constraints.teammemberhasillegalevent.TeamMemberHasIllegalEventConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.tooMuchBan"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.tooMuchBan"
            class="constraints.toomuchban.TooMuchBanConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.tooMuchDiffAnyPenalties"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.tooMuchDiffAnyPenalties"
            class="constraints.toomuchdiffanypenalties.TooMuchDiffAnyPenaltiesConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.tooMuchDiffSuccessPenalties"
            class="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.refereeNotPerson"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.refereeNotPerson"
            class="constraints.refereenotperson.RefereeNotPersonConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.assistantNotPerson"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.assistantNotPerson"
            class="constraints.assistantnotperson.AssistantNotPersonConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.thirdRefereeNotPerson"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.thirdRefereeNotPerson"
            class="constraints.thirdrefereenotperson.ThirdRefereeNotPersonConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.supervisorNotPerson"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.supervisorNotPerson"
            class="constraints.supervisornotperson.SupervisorNotPersonConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.constraints.illegalEventAfterMatch"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="constraints.illegalEventAfterMatch"
            class="constraints.illegaleventaftermatch.IllegalEventAfterMatchConstraint0">
         <enabledForEditor
               editorId="model.presentation.ModelEditorID">
         </enabledForEditor>
      </constraint>
   </extension>

</plugin>
