<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/goal.png">
         <run
               class="hu.bme.mit.inf.mdsd.one.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="hu.bme.mit.inf.mdsd.one.app.Perspective"
            icon="icons/goal.png"
            id="hu.bme.mit.inf.mdsd.one.app.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="hu.bme.mit.inf.mdsd.one.app.composites.MainView"
            icon="icons/goal.png"
            id="hu.bme.mit.inf.mdsd.one.app.composites.MainView"
            name="Futsal Scoreboard">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="hu.bme.mit.inf.mdsd.one.app.composites.MainView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
