<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
    point="org.eclipse.ui.activities">
 <activity
       id="someid.remove"
       name="RemoveSearchMenu">
    <enabledWhen>
       <with
             variable="activePartId">
          <equals
                value="someidr.RemoveSearchMenu1">
          </equals>
       </with></enabledWhen>
 </activity>
 <activityPatternBinding
       activityId="someid.remove"
       pattern="org.eclipse.search.*">
 </activityPatternBinding>
 </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/goal.png">
         <run
               class="hu.bme.mit.inf.mdsd.one.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="hu.bme.mit.inf.mdsd.one.app.Perspective"
            icon="icons/goal.png"
            id="hu.bme.mit.inf.mdsd.one.app.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="hu.bme.mit.inf.mdsd.one.app.composites.MainView"
            icon="icons/goal.png"
            id="hu.bme.mit.inf.mdsd.one.app.composites.MainView"
            name="Futsal Scoreboard">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="hu.bme.mit.inf.mdsd.one.app.composites.MainView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.new"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.restart"
                  label="Restart"
                  style="push">
            </command>
            <separator
                  name="separator1">
            </separator>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.open"
                  label="Open">
            </command>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.save"
                  label="Save">
            </command>
            <separator
                  name="separator"
                  visible="true">
            </separator>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.settings"
                  label="Preferences"
                  style="push">
            </command>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu label="Report">
         <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.generatehtml"
                  label="Generate report (HTML)"
                  style="push">
            </command>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.generatetex"
                  label="Generate report (TeX)"
                  style="push">
            </command>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.generatepdf"
                  label="Generate report (Pdf)"
                  style="push">
            </command>
            <separator
                  name="separator5"
                  visible="true">
            </separator>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.uploadhtml"
                  label="Upload generated HTML report"
                  style="push">
            </command>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.uploadtex"
                  label="Upload generated TeX report"
                  style="push">
            </command>
            <separator
                  name="separator6"
                  visible="true">
            </separator>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.downloadhtml"
                  label="Download HTML report"
                  style="push">
            </command>
            
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.downloadpdf"
                  label="Download PDF report"
                  style="push">
            </command>
            
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.downloadpdflog"
                  label="Download PDF generator log"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.help"
                  label="Help Contents"
                  style="push">
            </command>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.keyassist"
                  label="Key Assist"
                  style="push">
            </command>
            <separator
                  name="separator4"
                  visible="true">
            </separator>
            <command
                  commandId="hu.bme.mit.inf.mdsd.one.app.about"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.SettingsCommand"
            id="hu.bme.mit.inf.mdsd.one.app.settings"
            name="Preferences">
      </command>
      <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.NewCommand"
            id="hu.bme.mit.inf.mdsd.one.app.new"
            name="New">
      </command>
      <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.ReopenViewCommand"
            id="hu.bme.mit.inf.mdsd.one.app.reopen"
            name="Reopen View">
      </command>
      <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.RestartCommand"
            id="hu.bme.mit.inf.mdsd.one.app.restart"
            name="Restart">
      </command>
      <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.OpenCommand"
            id="hu.bme.mit.inf.mdsd.one.app.open"
            name="Open">
      </command>
      <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.SaveCommand"
            id="hu.bme.mit.inf.mdsd.one.app.save"
            name="Save">
      </command>
      <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.GenerateHTMLReport"
            id="hu.bme.mit.inf.mdsd.one.app.generatehtml"
            name="GenerateHTML">
      </command>
      <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.GenerateTeXReport"
            id="hu.bme.mit.inf.mdsd.one.app.generatetex"
            name="GenerateTeX">
            </command>
            <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.UploadHTML"
                  id="hu.bme.mit.inf.mdsd.one.app.uploadhtml"
                  
                  name="UploadHTML">
            </command>
             <command
            defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.UploadTex"
                  id="hu.bme.mit.inf.mdsd.one.app.uploadtex"
                  name="Uploadtex">
            </command>
            <command
                defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.DownloadHTML"
                  id="hu.bme.mit.inf.mdsd.one.app.downloadhtml"
                  name="DownloadHTML">
            </command>
            
            <command
                    defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.DownloadPDF"
                  id="hu.bme.mit.inf.mdsd.one.app.downloadpdf"
                  name="DownloadPDF">
            </command>
            
            <command
                  defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.DownloadPDFLog"
                  id="hu.bme.mit.inf.mdsd.one.app.downloadpdflog"
                  name="DownloadPDFLog">
            </command>
            <command
                  defaultHandler="hu.bme.mit.inf.mdsd.one.app.commands.GeneratePdfReport"
                  id="hu.bme.mit.inf.mdsd.one.app.generatepdf"
                  name="Generate Pdf">
            </command>
            
            
            
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="hu.bme.mit.inf.mdsd.one.app.composites.PreferencesPage"
            id="hu.bme.mit.inf.mdsd.one.app.preference"
            name="Match data">
      </page>
   </extension>
   <!--<extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="hu.bme.mit.inf.mdsd.one.app.composites.PreferencesPage"
            name="Preferences">
      </scope>
      <initializer
            class="hu.bme.mit.inf.mdsd.one.app.PreferencesInitializer">
      </initializer>
   </extension>-->

</plugin>
