
.RestSearch_SearchJob_td_Home{
	text-align:center;

}

.RestSearch_SearchJob_td_SearchJob{
	text-align:center;

}

.RestSearch_SearchJob_td_Partners{
	text-align:center;

}

.RestSearch_SearchJob_td_SearchCV{
	text-align:center;

}

.RestSearch_SearchJob_td_FAQs{
	text-align:center;

}

.RestSearch_SearchJob_td_Preferences{
	text-align:center;

}

.RestSearch_SearchJob_td_Contact{
	text-align:center;

}

.RestSearch_SearchJob_td_ManageVacancies{
	text-align:center;

}

.RestSearch_SearchJob_td_Company{
	text-align:center;

}

.RestSearch_SearchJob_td_ManageCV{
	text-align:center;

}

.RestSearch_SearchJob_td_TermsOfUse{
	text-align:center;

}

.RestSearch_SearchJob_td_PrivacyPolicies{
	text-align:center;

}

.RestSearch_SearchJob_td_Exit{
	text-align:center;

}

.RestSearch_SearchJob_td_Submit1{
	text-align:center;

}

.RestSearch_SearchJob_td_Submit2{
	text-align:center;

}

.bonita_table_container {
	table-layout: fixed;
}

.hidden_on_instantiation {
	display: none;
}
