<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="derived.goals"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="derived.goals.GoalsMatcherFactory$Provider"
            id="derived.goals">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.goals"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="goals"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.cards"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="derived.cards.CardsMatcherFactory$Provider"
            id="derived.cards">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.cards"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="cards"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.redBans"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="derived.redbans.RedBansMatcherFactory$Provider"
            id="derived.redBans">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.redBans"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="redBans"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.goalCount"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="derived.goalcount.GoalCountMatcherFactory$Provider"
            id="derived.goalCount">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.goalCount"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="goalCount"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.isSentOff"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="derived.issentoff.IsSentOffMatcherFactory$Provider"
            id="derived.isSentOff">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.isSentOff"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="TeamMember"
            feature-name="isSentOff"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.hasYellowCard"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="derived.hasyellowcard.HasYellowCardMatcherFactory$Provider"
            id="derived.hasYellowCard">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.hasYellowCard"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="TeamMember"
            feature-name="hasYellowCard"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.match"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="derived.match.MatchMatcherFactory$Provider"
            id="derived.match">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.match"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="match"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>

</plugin>
