<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="derived.goals"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.goals.GoalsMatcherFactory$Provider"
            id="derived.goals">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.goals"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="goals"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.goalsHT"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="derived.goalsht.GoalsHTEvaluator1_1"
            id="derived.goalsHT_1_1">
      </evaluator>
   </extension>
   <extension
         id="derived.cards"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.cards.CardsMatcherFactory$Provider"
            id="derived.cards">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.cards"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="cards"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.redBans"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.redbans.RedBansMatcherFactory$Provider"
            id="derived.redBans">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.redBans"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="redBans"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.goalCount"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.goalcount.GoalCountMatcherFactory$Provider"
            id="derived.goalCount">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.goalCount"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="goalCount"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.goalCountHT"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.goalcountht.GoalCountHTMatcherFactory$Provider"
            id="derived.goalCountHT">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.goalCountHT"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="goalCountHT"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.isSentOff"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.issentoff.IsSentOffMatcherFactory$Provider"
            id="derived.isSentOff">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.isSentOff"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="TeamMember"
            feature-name="isSentOff"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.hasYellowCard"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.hasyellowcard.HasYellowCardMatcherFactory$Provider"
            id="derived.hasYellowCard">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.hasYellowCard"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="TeamMember"
            feature-name="hasYellowCard"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.match"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.match.MatchMatcherFactory$Provider"
            id="derived.match">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.match"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="match"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.team"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.team.TeamMatcherFactory$Provider"
            id="derived.team">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.team"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="TeamMember"
            feature-name="team"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.teamMember"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.teammember.TeamMemberMatcherFactory$Provider"
            id="derived.teamMember">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.teamMember"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Role"
            feature-name="teamMember"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.name"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.name.NameMatcherFactory$Provider"
            id="derived.name">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.name"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Role"
            feature-name="name"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.staff"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.staff.StaffMatcherFactory$Provider"
            id="derived.staff">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.staff"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="staff"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="derived.substitutes"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="derived.substitutes.SubstitutesMatcherFactory$Provider"
            id="derived.substitutes">
      </matcher>
   </extension>
   <extension
         id="extension.derived.derived.substitutes"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Team"
            feature-name="substitutes"
            package-nsUri="http://model/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="constraints.startersAndSubstitutes"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.startersandsubstitutes.StartersAndSubstitutesMatcherFactory$Provider"
            id="constraints.startersAndSubstitutes">
      </matcher>
   </extension>
   <extension
         id="constraints.teamMemberHasNoRoleInTeam"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.teammemberhasnoroleinteam.TeamMemberHasNoRoleInTeamMatcherFactory$Provider"
            id="constraints.teamMemberHasNoRoleInTeam">
      </matcher>
   </extension>
   <extension
         id="constraints.teamMemberHasNoRoleInTeam"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.teammemberhasnoroleinteam.TeamMemberHasNoRoleInTeamEvaluator1_1"
            id="constraints.teamMemberHasNoRoleInTeam_1_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.notUniqueTeamNames"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.notuniqueteamnames.NotUniqueTeamNamesMatcherFactory$Provider"
            id="constraints.notUniqueTeamNames">
      </matcher>
   </extension>
   <extension
         id="constraints.startingLineCombination"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.startinglinecombination.StartingLineCombinationMatcherFactory$Provider"
            id="constraints.startingLineCombination">
      </matcher>
   </extension>
   <extension
         id="constraints.startingLineCombination"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.startinglinecombination.StartingLineCombinationEvaluator1_1"
            id="constraints.startingLineCombination_1_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.startingLineCombination"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.startinglinecombination.StartingLineCombinationEvaluator1_2"
            id="constraints.startingLineCombination_1_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.notUniqueId"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.notuniqueid.NotUniqueIdMatcherFactory$Provider"
            id="constraints.notUniqueId">
      </matcher>
   </extension>
   <extension
         id="constraints.moreRedCards"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.moreredcards.MoreRedCardsMatcherFactory$Provider"
            id="constraints.moreRedCards">
      </matcher>
   </extension>
   <extension
         id="constraints.moreRedCards"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.moreredcards.MoreRedCardsEvaluator1_1"
            id="constraints.moreRedCards_1_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.moreYellowCards"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.moreyellowcards.MoreYellowCardsMatcherFactory$Provider"
            id="constraints.moreYellowCards">
      </matcher>
   </extension>
   <extension
         id="constraints.moreYellowCards"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.moreyellowcards.MoreYellowCardsEvaluator1_1"
            id="constraints.moreYellowCards_1_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.notUniqueShirtNo"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.notuniqueshirtno.NotUniqueShirtNoMatcherFactory$Provider"
            id="constraints.notUniqueShirtNo">
      </matcher>
   </extension>
   <extension
         id="constraints.teamMemberHasIllegalEvent"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.teammemberhasillegalevent.TeamMemberHasIllegalEventMatcherFactory$Provider"
            id="constraints.teamMemberHasIllegalEvent">
      </matcher>
   </extension>
   <extension
         id="constraints.teamMemberHasIllegalEvent"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.teammemberhasillegalevent.TeamMemberHasIllegalEventEvaluator1_1"
            id="constraints.teamMemberHasIllegalEvent_1_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchBan"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.toomuchban.TooMuchBanMatcherFactory$Provider"
            id="constraints.tooMuchBan">
      </matcher>
   </extension>
   <extension
         id="constraints.tooMuchBan"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchban.TooMuchBanEvaluator1_1"
            id="constraints.tooMuchBan_1_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchBan"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchban.TooMuchBanEvaluator1_2"
            id="constraints.tooMuchBan_1_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchBan"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchban.TooMuchBanEvaluator1_3"
            id="constraints.tooMuchBan_1_3">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffAnyPenalties"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.toomuchdiffanypenalties.TooMuchDiffAnyPenaltiesMatcherFactory$Provider"
            id="constraints.tooMuchDiffAnyPenalties">
      </matcher>
   </extension>
   <extension
         id="constraints.tooMuchDiffAnyPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffanypenalties.TooMuchDiffAnyPenaltiesEvaluator1_1"
            id="constraints.tooMuchDiffAnyPenalties_1_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesMatcherFactory$Provider"
            id="constraints.tooMuchDiffSuccessPenalties">
      </matcher>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator1_1"
            id="constraints.tooMuchDiffSuccessPenalties_1_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator1_2"
            id="constraints.tooMuchDiffSuccessPenalties_1_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator1_3"
            id="constraints.tooMuchDiffSuccessPenalties_1_3">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator1_4"
            id="constraints.tooMuchDiffSuccessPenalties_1_4">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator2_1"
            id="constraints.tooMuchDiffSuccessPenalties_2_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator2_2"
            id="constraints.tooMuchDiffSuccessPenalties_2_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator2_3"
            id="constraints.tooMuchDiffSuccessPenalties_2_3">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator2_4"
            id="constraints.tooMuchDiffSuccessPenalties_2_4">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator3_1"
            id="constraints.tooMuchDiffSuccessPenalties_3_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator3_2"
            id="constraints.tooMuchDiffSuccessPenalties_3_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator3_3"
            id="constraints.tooMuchDiffSuccessPenalties_3_3">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator3_4"
            id="constraints.tooMuchDiffSuccessPenalties_3_4">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator4_1"
            id="constraints.tooMuchDiffSuccessPenalties_4_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator4_2"
            id="constraints.tooMuchDiffSuccessPenalties_4_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator4_3"
            id="constraints.tooMuchDiffSuccessPenalties_4_3">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator4_4"
            id="constraints.tooMuchDiffSuccessPenalties_4_4">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator5_1"
            id="constraints.tooMuchDiffSuccessPenalties_5_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator5_2"
            id="constraints.tooMuchDiffSuccessPenalties_5_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator5_3"
            id="constraints.tooMuchDiffSuccessPenalties_5_3">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator5_4"
            id="constraints.tooMuchDiffSuccessPenalties_5_4">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator6_1"
            id="constraints.tooMuchDiffSuccessPenalties_6_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator6_2"
            id="constraints.tooMuchDiffSuccessPenalties_6_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator6_3"
            id="constraints.tooMuchDiffSuccessPenalties_6_3">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator6_4"
            id="constraints.tooMuchDiffSuccessPenalties_6_4">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator7_1"
            id="constraints.tooMuchDiffSuccessPenalties_7_1">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator7_2"
            id="constraints.tooMuchDiffSuccessPenalties_7_2">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator7_3"
            id="constraints.tooMuchDiffSuccessPenalties_7_3">
      </evaluator>
   </extension>
   <extension
         id="constraints.tooMuchDiffSuccessPenalties"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.toomuchdiffsuccesspenalties.TooMuchDiffSuccessPenaltiesEvaluator7_4"
            id="constraints.tooMuchDiffSuccessPenalties_7_4">
      </evaluator>
   </extension>
   <extension
         id="constraints.refereeNotPerson"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.refereenotperson.RefereeNotPersonMatcherFactory$Provider"
            id="constraints.refereeNotPerson">
      </matcher>
   </extension>
   <extension
         id="constraints.assistantNotPerson"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.assistantnotperson.AssistantNotPersonMatcherFactory$Provider"
            id="constraints.assistantNotPerson">
      </matcher>
   </extension>
   <extension
         id="constraints.thirdRefereeNotPerson"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.thirdrefereenotperson.ThirdRefereeNotPersonMatcherFactory$Provider"
            id="constraints.thirdRefereeNotPerson">
      </matcher>
   </extension>
   <extension
         id="constraints.supervisorNotPerson"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.supervisornotperson.SupervisorNotPersonMatcherFactory$Provider"
            id="constraints.supervisorNotPerson">
      </matcher>
   </extension>
   <extension
         id="constraints.illegalEventAfterMatch"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="constraints.illegaleventaftermatch.IllegalEventAfterMatchMatcherFactory$Provider"
            id="constraints.illegalEventAfterMatch">
      </matcher>
   </extension>
   <extension
         id="constraints.illegalEventAfterMatch"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="constraints.illegaleventaftermatch.IllegalEventAfterMatchEvaluator1_1"
            id="constraints.illegalEventAfterMatch_1_1">
      </evaluator>
   </extension>

</plugin>
